body,
textarea,
input {
  font-family: 'Fira Sans', 'Verdana', sans-serif;
}
body {
  background-color: #19191c;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
a {
  color: #ffde1e;
  text-decoration: none;
}
p {
  text-align: center;
  padding: 1rem 2rem;
  margin: 0;
}
input[type='text'],
input[type='password'],
textarea {
  border: 3px solid #19191c;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f522;
  color: #f9f9f5;
  padding: 0.5rem;
  margin: 0 1rem;
}
input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  border-color: #ffde1e;
}
h2 {
  padding: 1rem;
  margin: 0;
  color: #f9f9f5;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.button {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  background-color: #6a0bca;
  color: #f9f9f5;
  font-weight: bold;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  font-size: 1rem;
  line-height: 1.4rem;
  border-radius: 0.111rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}
.button:hover {
}

#popup {
  color: #f9f9f599;
  min-width: 242px;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#popup > #favd #star {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#popup > #favd > .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
#popup > #favd > .header > h2 {
  margin: 0;
  padding: 0;
}
#popup > #favd > .header > #star {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
}
#popup > #favd textarea {
  background-color: transparent;
  min-height: 150px;
  text-align: center;
}
#popup > .view {
  display: none;
}
#popup[data-view='settings'] #settings.view {
  display: block;
}
#popup[data-view='error'] #error.view {
  display: block;
}
#popup[data-view='favd'] #favd.view {
  display: block;
}
#popup[data-view='loading'] #loading.view {
  display: block;
}
#popup[data-view='settings'] {
  padding-bottom: 0;
}

#settings .saveStatus {
  display: block;
  position: relative;
}
#settings .saveSuccess,
#settings .saveError {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  color: #f9f9f5;
}
#settings.saveSuccess .saveSuccess {
  opacity: 1;
  color: #0c0;
}
#settings .saveError {
  font-weight: bold;
}
#settings.saveError .saveError {
  opacity: 1;
  color: #c00;
}

form .field {
  margin-bottom: 0.5rem;
}
